body {
    background-color: azure;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #262525;
    position: sticky;
    top: 0;
}

.f {
    background-color: rgb(255, 205, 0);
    margin: -2.7em 10%;
}

.imgequipos {
    width: 100%;
    height: 100%;
}

#left {
    margin-top: 100px;
    width: 15%;
    height: 15%;
    transform: scaleX(-1);
    float: left;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#fix {
    height: 20em;
}

.hidden {
    visibility: hidden;
    max-height: 0;
}

#right {
    margin-top: 100px;
    width: 15%;
    height: 15%;
    float: right;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.floaty {
    float: right;
}

.navbar a:active {
    background-color: #918080;
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    background-color: #9269f3;
    color: black;
}

h1 {
    font-size: 4em;
    font-style: oblique;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

.em1 {
    font-size: 1em;
}

header {
    background-color: rgb(255, 205, 0);
    margin: -2.5em 10%;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 1em;
    border: 2em;
}

.imga {
    float: right;
    border-radius: 4em;
    width: 48em;
}

.imgc {
    float: left;
    border-radius: 4em;
    width: 38em;
    border: 1em #262525;
}

.central {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.floaty {
    float: right;
}

.floatyl {
    float: left;
}

.babypad {
    padding: 2% 0;
}

.antipad {
    padding: 0;
}

section {
    background-color: rgb(255, 205, 0);
    margin: -2em 10%;
}

.pie {
    padding: 20px;
    background-color: #262525;
    color: white;
}


.here {
    font-style: oblique;
    font-weight: 900;
    text-align: justify;
    margin: 2em 12em;
    padding: 0 10em;
}

form {
    background-color: rgb(255, 205, 0);
    font-size: 40px;
    margin: 0 8em;
    text-align: justify;
}

.formg {
    margin: 1em;
    font-size: 20px;
}

.formi {
    background-color: rgb(184, 147, 0);
    font-size: 20px;
    text-align: justify;
}

textarea {
    display: block;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    font-size: 20px;
    background-color: rgb(184, 147, 0);
    box-sizing: border-box;
}

#teniaqueusarasi {
    font-size: 5em;
}

@media (max-width: 1024px) {
    textarea {
        display: block;
        width: 140%;
        margin-left: -20%;
        margin-right: 0;
        font-size: 40px;
        height: 8em;
    }

    article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 2em 1em;
        border: 2em;
    }

    .imga {
        float: unset;
        border-radius: 4em;
        width: 100%;
    }

    .imgc {
        float: unset;
        border-radius: 4em;
        width: 95%;
    }

    section {
        background-color: rgb(255, 205, 0);
        margin: -2em 10%;
    }

    header {
        background-color: rgb(255, 205, 0);
        margin: -2.5em 10%;
    }

    .f {
        background-color: rgb(255, 205, 0);
        margin: -2.7em 10%;
    }

    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 24px 40px;
        font-size: x-large;
        text-decoration: none;
    }

}

