body {
    background-color: azure;
}

.navbar {
    overflow: hidden;
    background-color: #262525;
    position: sticky;
    top: 0;
}

.f {
    background-color: rgb(255, 205, 0);
    margin: -2.7em 10%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.floaty {
    float: right;
}

.navbar a:active {
    background-color: #918080;
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-size: 4em;
    font-style: oblique;
}

h2 {
    font-size: 2em;
    font-style: bold;
}

.em1 {
    font-size: 1em;
}

header {
    background-color: rgb(255, 205, 0);
    margin: -2.5em 10%;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 1em;
    border: 2em 1em;
}

.imga {
    float: right;
    border-radius: 4em;
    width: 48em;
}

.imgc {
    float: left;
    border-radius: 4em;
    width: 38em;
    border: 1em #262525;
}

.central {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.floaty {
    float: right;
}

.floatyl {
    float: left;
}

section {
    background-color: rgb(255, 205, 0);
    margin: -2em 10%;
}

.pie {
    padding: 20px;
    background-color: #262525;
    color: white;
}


.here {
    font-style: oblique;
    font-weight: 900;
    text-align: justify;
    margin: 2em 12em;
    padding: 0em 10em;
}

form {
    font-size: 20px;
    background-color: rgb(255, 205, 0);
    margin: 0em 8em;
    text-align: justify;
}

.formg {
    margin: 1em;
}

textarea {
    display: block;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    box-sizing: border-box;
}

#teniaqueusarasi {
    font-size: 5em;
}
.pc {

    content-visibility: show;
}

.mobile{
    content-visibility: hidden;
}
@media (max-width: 1024px) {
    textarea {
        display: block;
        width: 160%;
        margin-left: -30%;
        margin-right: 0%;
        height: 8em;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 2em 1em;
        border: 2em 1em;
    }
    .pc {

        content-visibility: hidden;
    }
    
    .mobile{
        content-visibility: show;
    }
    .imga {
        float: center;
        border-radius: 4em;
        width: 100%;
    }
    
    .imgc {
        float: center;
        border-radius: 4em;
        width: 95%;
    }
    section {
        background-color: rgb(255, 205, 0);
        margin: -2em 10%;
    }
    header {
        background-color: rgb(255, 205, 0);
        margin: -2.5em 10%;
    }
    .f {
        background-color: rgb(255, 205, 0);
        margin: -2.7em 10%;
    }
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 24px 40px;
        font-size: x-large;
        text-decoration: none;
    }
    
}

